.App {
  min-height: 100vh;
  /* background gradient from Taylor Vowell pen https://codepen.io/taylorvowell/pen/BkxbC */
  background: #141414;
}
.App-header {
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding: 5px;
}
